@{
    ViewBag.Title = "Register";
}

<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
<link rel="stylesheet" href="~/Content/index.css" />
<script src="https://unpkg.com/scrollreveal"></script>

<div class="content">
    <form method="post" action="@Url.Action("Register", "Account")">
        <h1 class="title">Create an Account</h1>

        <div class="box">
            <div class="icon">
                <i class="bx bx-user-circle"></i>
            </div>
            <div class="input-box">
                <label class="label" for="Username">Enter your username</label>
                <input type="text" id="Username" name="Username" class="input" required />
            </div>
        </div>

        <div class="box">
            <div class="icon">
                <i class="bx bx-envelope"></i>
            </div>
            <div class="input-box">
                <label class="label" for="Email">Enter your email</label>
                <input type="email" id="Email" name="Email" class="input" required />
            </div>
        </div>

        <div class="box">
            <div class="icon">
                <i class="bx bx-lock"></i>
            </div>
            <div class="input-box">
                <label class="label" for="Password">Enter your password</label>
                <input type="password" id="Password" name="Password" class="input" required />
            </div>
        </div>

        <input type="submit" class="login-button" value="Register" />
        <div class="sign">Already have an account? <a href="@Url.Action("Login", "Account")">Login here</a></div>
    </form>
</div>

<script>
    const inputs = document.querySelectorAll(".input");

    function addFocus() {
        this.parentNode.parentNode.classList.add("focus");
    }

    function removeFocus() {
        if (this.value == "") {
            this.parentNode.parentNode.classList.remove("focus");
        }
    }

    inputs.forEach(input => {
        input.addEventListener("focus", addFocus);
        input.addEventListener("blur", removeFocus);
    });

    const sr = ScrollReveal({
        distance: '20px',
        duration: 2000,
        reset: true
    });

    sr.reveal(`form`, { interval: 200, origin: 'right' });
</script>


