@model List<HighLandCoffeeWebsite.Models.New>

@{
    ViewBag.Title = "ViewBlog";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!-- blog section start -->
<div class="blog_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="about_taital">Our Blog</h1>
                <div class="bulit_icon"><img src=""></div>
            </div>
        </div>
        <div class="blog_section_2">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-6">
                        <div class="blog_box">
                            <div class="blog_img"><img src="images/blog-img1.png"></div>
                            <h4 class="date_text">@item.PostedDate.ToString("dd/MM/yyyy")</h4>
                            <h4 class="prep_text">@item.Title</h4>
                            <p class="lorem_text">@item.Content</p>
                        </div>
                        @*<div class="read_bt"><a href="#">Read More</a></div>*@
                    </div>
                    <hr />
                }

            </div>
        </div>
    </div>
</div>
<!-- blog section end -->
